* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-size: 18px;
    /* this define the em size */
}

/* === Header info here === */
header {
    width: 100%;
    height: 100vh;
    background: url(../images/photo-1497935586351-b67a49e012bf.avif) no-repeat fixed center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2em;
}

hgroup {
    background-color: #333;
    padding: 1em;
    width: 50%;
    border-radius: 10ox;
    position: relative;
}

.num {
    width: 100px;
    height: 100px;
    background-color: crimson;
    font-size: 2vmax;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -30px;
    top:-30px;
}

header h1 {
    font-size: 3.5vmax;
    line-height: 3vmax;
}

header h2 {
    font-size: 1.5vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #eee;
}

/* section text */

.text {
    display: flex;
    flex-flow: row wrap;
}

.text article {
    flex: 3;
    min-width: 400px;
    padding: 2em;
}

.text aside {
    flex: 1;
    background-color: darkseagreen;
    padding: 2em;
}

.text article p {
    margin-bottom: 1em;
    font-size: 1.2em;
    line-height: 1.7em;
}

.gallery {
    min-height: 50vh;
    height: auto;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: url(../images/img.jfif);
    padding: 2em;
}

.gallery div {
    width: 400px;
    height: 400px;
    background-color: #333;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.gallery div img {
    max-width: 100%;
    max-height: 100%;
}

.position {
    width: 100%;
    max-width: 500px;
    min-height: 50vh;
    height: auto;
    background-color: #eee;
    margin: 0 auto;
}

.position div {
    width: 300px;
    height: 300px;
    background-color: #333;
    color: #eee;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.position .rel {
    background-color: red;
    position: relative;
    left: 300px;
}

footer {
    background-color: #333;
    color: #eee;
    font-style: italic;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}