body {
  background-color: darkseagreen;
}

h2 {
  border-bottom: 2px solid darkseagreen;
}

.container {
  color: darkseagreen;
  background-color: #ffffff;
  padding: 15px;
}

button {
  background-color: #ffffff;
  color: darkseagreen;
  border: 1px solid darkseagreen;
  padding: 5px;
}
