/* ======================= */
/* === CSS MASTER FLEX === */
/* ======================= */
* {margin: 0;padding: 0;box-sizing: border-box;}
html, body {height: 100%;}
body {background:#eee;}
h1 {font: 52px/58px Georgia, serif; color: #555; text-align: center;}
h2 {font: 32px/36px Georgia, serif; color: #333; text-align: center; border-bottom: solid #333 1px; margin:0 20px;}

/* ======================= */
/* === FLEX BASICS === */
/* ======================= */

section {
	display: flex; 
	/*	the container's display is set to flex */
	/*	its children are now flex items */
	min-height:50%;
	height:auto;
	background: #333;
	margin:20px;
}

section div {
  background: crimson;
  margin: 20px;
  padding:40px;
  font-size: 40px;
  color: #eee;
  font-weight: bold;
}

/* ======================= */
/* === FLEX-DIRECTION-WRAP === */
/* ======================= */
#con1 {
	flex-direction: row;
}

#con2 {
	flex-direction: row-reverse;
}

#con3 {
	flex-direction: column;
}
#con4 {
	flex-wrap: wrap;
}
#con5 {
	flex-wrap: nowrap;
	overflow:scroll;
}
#con6 {
	flex-wrap:wrap-reverse;
/*	flex-wrap is a shorthand for wrap and direction */
}


/* ======================= */
/* === JUSTIFY-CONTENT === */
/* ======================= */
#con7 {
	justify-content: flex-start;
	background: cadetblue;
}

#con8 {
	justify-content: flex-end;
	background: cadetblue;
}

#con9 {
	justify-content: center;
	background: cadetblue;
}

#con10 {
	justify-content: space-around;
/*	space around every item including first and last */
	background: cadetblue;
	padding: 10px; 
	
}

#con11 {
	justify-content: space-between;
/*	space around every item including first and last */
	background: cadetblue;
	padding: 10px; 

}

#con10 div, #con11 div {
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
	margin: 10px;
}


/* ======================= */
/* === ALIGN-ITEMS-CONTENT === */
/* ======================= */
#con12 {
/*	align-items: stretch;*/
/*	align-items: flex-start;*/
/*	align-items: flex-end;*/
/*	align-items: center;*/
	align-items: baseline;
}
#con12 div.bigtext {
	font-size: 86px;
	color: aquamarine;
}

#con13 {
	height: 100%;
	flex-wrap: wrap;
	align-content: stretch; /*this is default state*/
/*	align-content:space-around;*/
/*	align-content: space-between;*/
/*	align-content: flex-start;*/
/*	align-content: flex-end;*/
/*	align-content: center;*/
}



/* ======================= */
/* === FLEX-ITEM-PROPERTIES === */
/* ======================= */

/* ======================= */
/* ======== ORDER ======== */
/* ======================= */
#con14 {
	background-color: darkgrey;
}
.first {
	order: 0;
	background-color:crimson;
}
.second {
	order: 1;
	background-color: darkslategray;
}
.third {
	order: 2;
	background-color:seagreen;
}
.fourth {
	order: 3;
	background-color: tomato;
}
.fifth {
	order: 4;
	background-color: #333;
}


/* ======================= */
/* ====== FLEX-GROW ====== */
/* ======================= */

#con15 {padding: 10px; background-color: seagreen;}

#con15 div {
	flex-grow: 1;
	margin:10px;
	background-color: #333;
}

#con15 div.med {
	flex-grow: 2;
	background-color: tomato;
}

#con15 div.large {
	flex-grow: 5;
	background-color: crimson;
}



/* ======================= */
/* === FLEX-SHRINK-BASIS === */
/* ======================= */

#con16 {
	flex-wrap: wrap;
	padding: 10px;
	background-color: darkslategray;
}

#con16 div {
	flex-grow: 1;
	flex-shrink:1;
	flex-basis: auto;
	margin:10px;
	background-color: tomato;
}

/*By default all flex items can be shrunk, but if we set it to 0 (don't shrink) they will maintain the original size*/
#con16 div.fixed {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	flex-basis: 350px;
/*	flex-basis can determine the initial size of a flex-item */
	background-color: crimson;
}


/* ======================= */
/* ======== FLEX ========= */
/* ======================= */
/*This property is the shorthand for the flex-grow, flex-shrink and flex-basis properties. Among other values it also can be set to auto (1 1 auto) and none (0 0 auto).*/

#con17 {
	flex-wrap: wrap;
	padding: 10px; 
	background-color:darkcyan;}

#con17 div {
/*	flex: auto;*/
/*	flex: 1 1 auto;*/
/*	flex: 0 0 auto;*/
	flex: 0 0 200px;
	margin:10px;
	background-color: #333;
}


/* ======================= */
/* ===== ALIGN-SELF ====== */
/* ======================= */
/*This align-self property allows the default alignment (or the one specified by align-items) to be overridden for individual flex items. Refer to align-items explanation for flex container to understand the available values.*/

#con18 {
	padding: 10px; 
	background-color:yellowgreen;}

#con18 div.start {
	align-self: flex-start;
}

#con18 div.stretch {
	align-self: stretch;
}

#con18 div.end {
	align-self: flex-end;
}

